@use '@/variables/fonts/fontFamiliesHelvetica';
@use '@/variables/fonts/paragraphSizes';
@import '@/variables/colors/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $gray-10;
  gap: 16px;
  align-self: stretch;

  .dropdown-header {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    p {
      @extend .medium;
      @extend .m;
      flex: 1 0 0;
      color: $gray-10;
    }
  }

  .items-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
  }
}
