@import '@/variables/colors/colors';

.skeleton-img {
  background: $skeleton-gradient;
  width: 256px;
  height: 256px;
  margin-bottom: 20px;
}

.skeleton-brand {
  background: $skeleton-gradient;
  width: 49px;
  height: 14px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.skeleton-name {
  background: $skeleton-gradient;
  width: 150px;
  height: 18px;
  border-radius: 6px;
  margin-bottom: 21px;
}

.skeleton-description {
  background: $skeleton-gradient;
  width: 256px;
  height: 14px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.skeleton-additional {
  background: $skeleton-gradient;
  width: 138px;
  height: 14px;
  border-radius: 6px;
  margin-bottom: 21px;
}

.price-wrapper {
  display: flex;
  gap: 12px;

  div {
    background: $skeleton-gradient;
    width: 49px;
    height: 22px;
    border-radius: 6px;
  }
}
