$white: #ffffff;
$black: #000000;

$green-700: #98d901;
$green-600: #a5ec01;
$green-500: #b2fe02;
$green-400: #cdfe5c;
$green-300: #d8fe80;
$green-200: #efffc9;
$green-100: #f4ffdb;

$gray-600: #101010;
$gray-500: #151516;
$gray-400: #242426;
$gray-300: #454548;
$gray-200: #77777b;
$gray-100: #aaaaad;
$gray-50: #ddddde;
$gray-25: #eeeeef;
$gray-10: #f6f6f7;

$error-700: #b42318;
$error-600: #d92d20;
$error-500: #f04438;
$error-400: #ff786e;
$error-300: #fda29b;
$error-200: #fee4e2;
$error-100: #fef3f2;

$warning-700: #b54708;
$warning-600: #dc6803;
$warning-500: #f79009;
$warning-400: #fdb022;
$warning-300: #fec84b;
$warning-200: #fef0c7;
$warning-100: #fffaeb;

$success-700: #027a48;
$success-600: #039855;
$success-500: #12b76a;
$success-400: #32d583;
$success-300: #6ce9a6;
$success-200: #d1fadf;
$success-100: #ecfdf3;

$gradient-gray: linear-gradient(149.54deg, #eeeef6 11.26%, #c1c1cb 92.04%);

$primary-button-shadow: #9cb94b70;

$checkbox-shadow: rgba(156, 185, 75, 0.44);

$item-list-shadow: rgba(99, 99, 99, 0.12);

$default-background-color: rgba(246, 246, 247, 0.10);
$hover-background-color: rgba(221, 221, 222, 0.20);
$focused-background-color: rgba(246, 246, 247, 0.15);
$disabled-background-color: rgba(69, 69, 72, 0.30);

$pagination-button-shadow: #3C3C3C;