@import '@/variables/mixins/utilities';
@import '@/components/badge/mixin';
@import '@/variables/global/global';

.badge{
    @include sizes;
    @include colors;
    @extend .medium;
    display: flex;
    justify-content: center;
    align-items: center;
}