@import '@/variables/colors/colors';
@import '@/variables/svg/svg';

.bg-wrapper {
  padding-bottom: 240px;
}

.title {
  color: $white;
  text-align: center;
  margin-bottom: 48px;
}

.items-wrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 30px;
  width: 352px;
  height: 244px;
  border: 2px solid $gray-400;
  border-radius: 12px;
  color: $gray-50;
  background-image: $net-bg;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    border: 2px solid $gray-300;
    border-radius: 12px;

    .item-title {
      margin-top: 20px;
    }
  }

  .item-title {
    margin-top: 30px;
  }
}
