@use '@/variables/fonts/fontFamiliesHelvetica';
@use '@/variables/fonts/paragraphSizes';
@import '@/variables/colors/colors';

.sort-container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 16px;
  padding-bottom: 41px;
  color: $gray-50;
  font-family: 'helvetica-regular', sans-serif;

  * {
    @extend .regular;
    @extend .s;
    color: $gray-50;
  }
}

// .content-container {
//   display: flex;
//   flex-direction: row;
//   gap: 90px;

//   .sort-container {
//     display: flex;
//     align-items: center;
//     justify-content: right;
//     gap: 16px;
//     padding-bottom: 41px;

//     * {
//       @extend .regular;
//       @extend .s;
//       color: $gray-50;
//     }
//   }
// }

// .content {
//   width: 3000px;
// }
