@import '@/variables/colors/colors';

.bg-wrapper {
  background: $black;
  padding-bottom: 272px;
}

.items-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;

  &:not(:last-of-type) {
    margin-bottom: 180px;
  }

  > *:first-child {
    margin-right: 120px;
  }

  .item-img {
    width: 544px;
    height: 320px;
  }

  .title {
    color: $gray-10;
    margin-bottom: 20px;
  }

  .description {
    color: $gray-100;
  }
}
