@use '@/variables/fonts/fontFamiliesHelvetica';
@use '@/variables/fonts/paragraphSizes';
@import '@/variables/colors/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 256px;
}

.image-container {
  position: relative;
  background-image: linear-gradient(
    rgba(238, 238, 246, 1),
    rgba(193, 193, 203, 1)
  );

  .top-label {
    position: absolute;
    left: 8px;
    top: 8px;
  }

  .top-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .bottom-label {
    position: absolute;
    left: 8px;
    bottom: 8px;
  }

  img {
    width: 256px;
    height: 256px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  position: relative;

  .brand {
    @extend .regular;
    @extend .s;
    color: $gray-100;
  }

  .product-name {
    @extend .bold;
    @extend .l;
    color: $gray-10;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    &:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      top: 50px;
      left: 0;
      padding: 4px 8px;
      background-color: $gray-500;
      border-radius: 4px;
      white-space: nowrap;
      z-index: 9999;
      @extend .xxs;
    }
  }

  .short-description {
    @extend .regular;
    @extend .s;
    color: $gray-50;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }

  .price-container {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .price {
      color: $gray-10;
    }

    .sale-price {
      @extend .regular;
      color: $gray-100;
      text-decoration: line-through;
    }
  }
}
