@use '@/variables/fonts/fontFamiliesHelvetica';
@use '@/variables/fonts/paragraphSizes';
@import '@/variables/colors/colors';

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  * {
    color: $white;
  }
}

.breadcrumbs {
  & {
    color: $gray-10;
    @extend .medium;
    @extend .s;
  }

  display: flex;
  flex-direction: row;
  gap: 8px;
}
