@font-face {
  font-family: monument-regular;
  src: url('../../assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
  font-family: monument-bold;
  src: url('../../assets/fonts/MonumentExtended-Ultrabold.otf');
}

@font-face {
  font-family: helvetica-regular;
  src: url('../../assets/fonts/HelveticaNeueCyr-Roman.ttf');
}

@font-face {
  font-family: helvetica-medium;
  src: url('../../assets/fonts/HelveticaNeueCyr-Medium.ttf');
}

@font-face {
  font-family: helvetica-bold;
  src: url('../../assets/fonts/HelveticaNeueCyr-Bold.ttf');
}
