.regular {
  font-weight: 400;
  font-family: 'helvetica-regular', sans-serif;
}

.medium {
  font-weight: 500;
  font-family: 'helvetica-medium', sans-serif;
}

.bold {
  font-weight: 700;
  font-family: 'helvetica-bold', sans-serif;
}
