@import '@/variables/fonts/fonts';
@import '@/variables/colors/colors';

@mixin font-families-monument {
  &.regular {
    font-weight: 400;
    font-family: 'monument-regular', sans-serif;
  }

  &.bold {
    font-weight: 800;
    font-family: 'monument-bold', sans-serif;
  }
}

@mixin font-families-helvetica {
  &.regular {
    font-weight: 400;
    font-family: 'helvetica-regular', sans-serif;
  }

  &.medium {
    font-weight: 500;
    font-family: 'helvetica-medium', sans-serif;
  }

  &.bold {
    font-weight: 700;
    font-family: 'helvetica-bold', sans-serif;
  }
}

@mixin paragraph-sizes {
  &.l {
    font-size: 18px;
    line-height: 26px;
  }

  &.m {
    font-size: 16px;
    line-height: 24px;
  }

  &.s {
    font-size: 14px;
    line-height: 20px;
  }

  &.xs {
    font-size: 12px;
    line-height: 18px;
  }

  &.xxs {
    font-size: 10px;
    line-height: 14px;
  }
}
