@mixin border-background($color) {
  background-color: $color;
  border: 1px solid $color;
}

@mixin text-color($color) {
  * {
    color: $color;
  }
}

@mixin background-animation($ms) {
  transition: background-color $ms ease-in-out;
}
