@import '@/variables/colors/colors';

.bg-wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/images/hero-screen-second-bg.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 116px 0 132px 0;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 16px;
  border-bottom: 1px solid $gray-300;
}

.category {
  padding-bottom: 16px;
  color: $gray-50;
  cursor: pointer;
}

.active-category {
  border-bottom: 2px solid $gray-10;
}

.cards-wrapper {
  padding-top: 48px;
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.card {
  width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: auto;
}

.left-icon {
  margin-right: 24px;
  //   width: 56px;
  //   height: 56px;
}

.right-icon {
  //   width: 56px;
  //   height: 56px;
  //   margin-left: auto;
}
