@use '@/variables/fonts/fontFamiliesHelvetica';
@use '@/variables/fonts/paragraphSizes';
@import '@/variables/colors/colors';

.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 338px;

  .name {
    padding-bottom: 12px;
  }

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    color: $white;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 34px;

  .remove {
    padding: 4px 8px;

    * {
      color: $gray-100;
    }
  }

  .hover {
    display: flex;
    justify-content: flex-end;
  }
}
